<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Elevators" src="{{ "/assets/img/Elevators.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Smart Elevators </h3>
    <ul>
      <li> OOP,Java</li>
    </ul>
    <p>The project focuses on the challenge of optimizing elevator scheduling.
      Given a call for the elevator from the source floor to the destination floor - the system will want to schedule the elevator that will minimize the arrival time. More generally, it is said that given a collection of calls to elevators in time, we would like to define a strategy for assigning elevators to calls that will minimize the total arrival time for all the calls.</p>
    <a class="project-link" href="https://github.com/RoiMeshulam/OOP_Ex0" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="trading" src="{{ "/assets/img/Dgraph.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Directed Graphs Algorithms </h3>
    <ul>
      <li> Algotithms, Graphs </li>
    </ul>
    <p>This project is a graph analayzing project which allows us to insert graphs, create graphs, changing graphs and study them. </p>
    <!-- <p>Not only will this tool allow you to check real stocks’ actual prices and portfolios’ values, it will also let you buy (okay, “buy”) and sell (okay, “sell”) stocks by querying IEX for stocks’ prices.Learnt to develop with flask, including the use of API (for the stocks info and prices)</p> -->
    <a class="project-link" href="https://github.com/RoiMeshulam/OOP_Ex2" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="pokemon" src="{{ "/assets/img/Pokemon.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Pokemon game </h3>
    <p> This project displays a simple pokemon game. You have pokemon collectors (agents) and pokemons on weighed edges. We must catch as many pokemons as we can.

      The main "code" in here is the complexity of finding the shortestPath to a pokemon with as low runing time as we can.</p>
    <a class="project-link" href="https://github.com/RoiMeshulam/OOP_Ex4" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="chat" src="{{ "/assets/img/chat.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Chat </h3>
    <ul>
      <li> Networking</li>
    </ul>
    <p>This project is a live chat communicating with a server.

      You have the option to talk with everyone in the chat, send a private messege and request to download content from the server</p>
    <a class="project-link" href="https://github.com/RoiMeshulam/Chat" target="_blank">Check it out</a>
  </div>
</div>


<div class="user-details">
  <h1> Websites </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="chat" src="{{ "/assets/img/Menu.jpg" | prepend: site.baseurl }}" height="400px"/>
  </div>
  <div class="contents-left">
    <h3> Burgers website </h3>
    <ul>
      <li> HTML, CSS, JavaScript  </li>
    </ul>
    <p>This site is an advertising site for the burger chain "BurgerTime". The website displays all the menus and all the necessary details about the "BurgerTime" branches. </p>
    <a class="project-link" href="https://burgermunch.co.il/" target="_blank">Check it out</a>
  </div>
</div>


